<h1>Programa tu próxima cita con tu médico de confianza!</h1>
<%= link_to "Nueva Cita", new_appointment_path %>
<p>O puedes ver tus citas ya programadas</p>
<%= link_to "Ver mis citas", appointments_path %>
